.bg-landing {
/*   background-color: antiquewhite; */
  background-image: url(../../assets/3.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 81px)
}



/* @media (max-width:991px) {
 
} */

.landing {
  padding: 200px 0 150px;
  display: flex;
}

@media (max-width:991px) {
  .landing {
    padding: 140px 0 150px;
  }

}

.landing-content {
  flex-basis: 40%;
}

@media (max-width:991px) {
  .landing-content {
    flex-basis: 100%;
  }
}

.landing-content h3 {
  font-size: 3rem;
  font-family: 'Roboto';
  color: var(--title-color);
  margin-bottom: 30px;
}

.landing-content p {
  line-height: 1.3;
  font-size: 1.2rem;
  color: var(--desc-color);
  margin-bottom: 30px;
}

.btn-landing {
  display: flex;
  gap: 20px;

}
