.button-primary {
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--main-color);
  border: 3px solid #a82d49;
  font-size: 14px;
  width: fit-content;
  padding: 11px 30px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Roboto";
  transition: var(--time-transition);
}

.button-primary svg,
.button-primary-secondary svg {
  margin: 0 10px;
  font-size: 16px;
}

.button-primary:hover {
  background-color: white;
  color: var(--main-color);
}

.button-primary-secondary {
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 12px 0px #333333bf;
  background-color: white;
  font-size: 14px;
  width: fit-content;
  padding: 11px 28px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Roboto";
  transition: var(--time-transition);
  border: 3px solid white;
}

.button-primary-secondary:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}